<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CirclesDBEntities" connectionString="metadata=res://*/CirclesModel.csdl|res://*/CirclesModel.ssdl|res://*/CirclesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G7DVJ94;initial catalog=CirclesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CirclesEntities" connectionString="metadata=res://*/CircleModel.csdl|res://*/CircleModel.ssdl|res://*/CircleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G7DVJ94;initial catalog=CirclesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CirclesDataBaseEntities" connectionString="metadata=res://*/CircleDbModel.csdl|res://*/CircleDbModel.ssdl|res://*/CircleDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G7DVJ94;initial catalog=CirclesDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CirclesDbEntities" connectionString="metadata=res://*/CircleModel.csdl|res://*/CircleModel.ssdl|res://*/CircleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G7DVJ94;initial catalog=CirclesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>